.jumbotron {
  padding-top: 6rem;
  background-color: #73a4f4;
}

#projek {
  background-color: #73a4f4;
}

section {
  padding-top: 5rem;
}

#awalan {
  padding-top: 6rem;
}

#kedua {
  padding-top: 2rem;
}

.header-logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.section-sewa-mobil {
  margin-top: 4rem;
}

.section-card-sewa-mobil {
  background-color: #0d28a6;
  color: white;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 2rem 3rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 13px;
}

.pargraph-text-block {
  display: flex;
  justify-content: center;
}
.paragraph-text {
  width: 36%;
  text-align: center;
}

.carousel {
  padding-top: 6rem;
  position: relative;
}
.section-carousel {
  border-radius: 8px;
  background-color: #f1f3ff;
  padding: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 619px;
}

.section-carousel-title {
  margin-top: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.section-carousel-title,
h2 {
  margin: 0;
}

.section-carousel-component {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.section-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-content-text,
p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.text-carousel {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.section-box {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  position: relative;
  left: 0;
  gap: 2rem;
  justify-content: center;
}

.carousel-nav {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: center;
}
.icon-left {
  width: 16px;
  background-color: white;
  border: 1px solid #c4c4c4;
  padding: 9px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon-left:hover {
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
  color: white;
}

.icon-right {
  width: 16px;
  background-color: white;
  border: 1px solid #c4c4c4;
  padding: 9px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon-right:hover {
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
  color: white;
}

.container-faq {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 4rem;
}
.section-list-faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.section-faq {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding-top: 6rem;
}

.section-title-faq {
  display: flex;
  flex-direction: column;
}
.box-list-faq {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .header-navlink {
    display: none;
  }
  .responsive-nav {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: #0000006b;
    height: 100vh;
    z-index: 10;
  }
}
